@import '../../styles/_colors.scss';
@import '../../styles/_variables.scss';

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $nav-bar-bg;
  nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    a {
      color: $bg-neutral-100;
    }
    .active-link {
      color: $bg-gray-300;
    }
  }
}