@import '../../styles/_colors.scss';

@mixin style-button($bg-color, $bg-hover-color) {
  transition: 0.5s ease background, 0.25s ease transform;
  background: $bg-color;
  &:hover {
    background: $bg-hover-color;
  }
  box-shadow: 0 0 15px 2px $bg-color;
}

.areas-page-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .areas-page__chart-block {
    display: grid;
    grid-template: 100% / 1fr 1fr;

    .areas-page__chart-block__chart-left {
      display: flex;
      justify-content: center;
      align-items: center;
      #left-chart {
        // ...
      }
    }

    .areas-page__chart-block__chart-right {
      display: flex;
      justify-content: center;
      align-items: center;
      .chart-right-wrapper {
        position: relative;
        width: 80%;
        height: 80%;
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        .axis-label__top {
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          bottom: 100%;
        }
        .axis-label__centre-left {
          position: absolute;
          left: 47%;
          transform: translate(-50%);
          top: 42.5%;
        }
        .chart-right__part {
          &:nth-child(2) {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            transition: gap 0.5s ease;
            .chart-right__zone-box {
              padding: 0.5rem 1rem;
              width: 90%;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .electrons-zone {
              @include style-button($bg-green-300, $bg-green-400)
            }
            .holes-zone {
              @include style-button($bg-gray-300, $bg-gray-400)
            }

            &::before {
              content: '';
              position: absolute;
              right: 100%;
              top: 0;
              height: 200%;
              width: 2px;
              background: black;
            }
          }
          &:nth-child(2)[data-chart-state="allow"] {
            gap: 0.1rem;
          }
          &:nth-child(3) {
            position: relative;

            &::before {
              content: '';
              position: absolute;
              bottom: 100%;
              left: 0;
              height: 2px;
              width: 200%;
              background: black;
            }
          }

        }

      }

    }
  }

  .areas-page__buttons-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    .switch-diode-type__btn-container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .set-krem-diode-button {
        @include style-button($bg-blue-300, $bg-blue-400)
      }

      .set-germ-diode-button {
        @include style-button($bg-blue-400, $bg-blue-500)
      }
    }

    .switch-electric-flow__btn-container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .set-direct-flow-button {
        @include style-button($bg-sky-300, $bg-sky-400)
      }

      .set-reverse-flow-button {
        @include style-button($bg-sky-400, $bg-sky-500)
      }
    }

    button {
      padding: 0.75rem 1.25rem;
      outline: none;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

